<header>
  <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <a href="/add-post">Add Post</a> <!-- Ensure this link exists -->
            <a href="/logout">Logout</a>
        {{else}}
            <a href